.loader-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 999;
	inset: 50% auto auto 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;

	&.route-loader {
		&-enter-active {
			animation: FadeIn 150ms ease-in-out;
		}

		&-leave-active {
			animation: FadeOut 75ms ease-in-out;
		}
	}



	&.inline {
		position: unset;
		inset: unset;
		transform: unset;
		min-width: unset;
		min-height: unset;
	}

	$background-color: #4684ee;
	$loader-color: #fff;
	$loader-size: 30vh;

	.loader {
		color: $loader-color;

		font-family: Consolas, Menlo, Monaco, monospace;
		font-weight: bold;
		font-size: $loader-size;
		opacity: 0.8;

		span {
			display: inline-block;
			animation: pulse 0.4s alternate infinite ease-in-out;

			&:nth-of-type(odd) {
				animation-delay: 0.4s;
			}
		}
	}

	@keyframes pulse {
		to {
			transform: scale(0.8);
			opacity: 0.5;
		}
	}

}