nav {

    #work {
        width: 10vw;
        height: 10vw;
        text-align: center;
        font-size: 25px;
        transform: rotate(90deg);
        background: transparent;
        color: white;
        position: fixed;
        right: 0;
        bottom: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 4;
        transition: 0.4s ease-in-out;
        border-radius: 0px 0px 100px 100px;
    }

    #about {
        width: 10vw;
        height: 10vw;
        text-align: center;
        font-size: 25px;
        transform: rotate(-90deg);
        background: transparent;
        color: white;
        position: fixed;
        left: 0;
        bottom: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 4;
        transition: 0.4s ease-in-out;
        border-radius: 0px 0px 100px 100px;
    }
}

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.home-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1528875286060-c8d025d7c15c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.intro {

    h1,
    p {
        color: white;
    }
}