.index {
	// &__burger-btn {
	// }

	&__main-content {
		margin: auto 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	&__subtitle {
		@include font-size(1.1rem);
	}

	&__footer {
		display: flex;
		flex-direction: column;
		margin-top: $spacer * 2;
		@include font-size(0.9rem);
	}

	.btn--large {
		margin-top: cgap(xl);

		@include media-breakpoint-down(md) {
			margin-top: cgap(lg);
		}
	}
}
