.terminal-text {
	$this: &;

	&__cursor {
		display: inline-block;

		width: 0.7rem;
		height: 1rem;
		background-color: var(--color-primary);

		margin-left: 0.15rem;

		vertical-align: middle;
		margin-bottom: 0.2rem;
		font-weight: 900;
		font-style: normal;
		@include font-size(1.5rem);
		line-height: 0;

		&[data-blink="true"] {
			@keyframes Blink {
				0% {
					opacity: 1;
				}
				40% {
					opacity: 1;
				}
				50% {
					opacity: 0;
				}
				90% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}

			animation: Blink 1s infinite;
		}
	}
}
