.product {
	&__main-content {
		margin: auto 0;
		padding-top: 2rem;
	}

	&__tags {
		list-style: none;
		padding: unset;

		display: flex;
		gap: 0.5rem;
		flex-wrap: wrap;
		margin-top: cgap(md);
	}

	&__link {
		margin-top: cgap(md);
	}
}
