.panel {
	position: fixed;
	z-index: 10;
	inset: 0 0 0 20%;
	max-height: 100vh;
	max-height: 100dvh;
	min-height: 100vh;
	min-height: 100dvh;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.45);
	background-color: var(--bg-primary);

	transition: transform var(--anim);
}

.panel-backdrop {
	position: fixed;
	inset: 0;
	z-index: 9;
	background-color: #00000071;
}
