.panel {
	--bg: var(--bg-primary);
	--color: var(--color-primary);

	position: fixed;
	z-index: 10;
	inset: 0 0 0 20%;
	height: 100vh;
	height: 100dvh;

	background-color: var(--bg);
	color: var(--color);
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.45);

	transition: transform anim(slow);
}

.panel-backdrop {
	position: fixed;
	z-index: 5;
	inset: -100vh -100vw;

	background-color: #00000071;
}
