body {
	position: relative;
	overflow-x: hidden;
	font-family: Inter, sans-serif;
	word-break: break-word;
	// hyphens: auto; //todo -> hmm
	min-height: 100vh;
	min-height: 100svh;

	::selection {
		background-color: var(--bg-secondary);
	}
}

@media (pointer: fine) {
	::-webkit-scrollbar {
		width: 0.5rem;
	}

	::-webkit-scrollbar-thumb {
		background: var(--bg-primary-very-dark);

		&:hover {
			background: var(--bg-primary-very-very-dark);
		}
	}
}

hgroup {
	margin-bottom: cgap(md);

	> *:last-child {
		margin-bottom: unset;
	}
}

h1,
h2 {
	font-weight: 700;
}

h3,
h4,
h5,
h6 {
	font-weight: 500;
}

p {
	&:last-child {
		margin-bottom: unset;
	}
}

a {
	color: var(--color-alt);

	@include hover-focus {
		color: var(--color-alt-dark);
	}
}
