.page {
	background-color: rgb(251, 23, 117);
	height: 100vh;

	&-content {
		background-color: rgb(251, 23, 117);
	}

	.button {
		border: solid 2px white;
		color: white;
		padding: 10px 20px;
		border-radius: 50px;
		text-decoration: none;
	}
}