@keyframes FadeIn {
	0% {
		filter: opacity(0);
	}
	100% {
		filter: opacity(1);
	}
}

@keyframes FadeOut {
	0% {
		filter: opacity(1);
	}

	100% {
		filter: opacity(0);
	}
}

@keyframes SlideInFromRight {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes SlideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes SlideOutToRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes SlideOutToLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
