//sass logic
@import "./variables";
@import "./functions";
@import "./mixins";

//libs
@import "~/bootstrap/scss/bootstrap-reboot";
@import "~/bootstrap/scss/functions";
@import "~/bootstrap/scss/mixins/breakpoints";
@import "~/bootstrap/scss/variables";
@import "~/bootstrap/scss/vendor/rfs";
@import "~/swiper/swiper";

//fonts
@import "./fonts/inter";

//global styles
@import "./vars";
@import "./transitions";
@import "./utils";
@import "./base";
@import "./keyframes";

//components
@import "./components/swiper";
