.product-tag {
	// --product-tag-color is provided by the component
	border: 0.15rem solid var(--product-tag-color);
	color: var(--product-tag-color);
	background-color: var(--bg-primary-very-dark);
	padding: 0.25rem 0.5rem;
	border-radius: var(--radius-md);
	font-weight: bold;
}
